@import "./base.css";

@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	min-height: 100dvh;
	font-family:
		"Roboto",
		"Inter",
		system-ui,
		-apple-system,
		sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--color-text);
	background-color: var(--background-color);
}

.errors {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	color: var(--p-red-500);
}

section {
	width: 100%;
	margin: calc(var(--spacing-xl) * 2) 0;
}
